@charset "utf-8";

/* CSS Document */

body,ol,ul,li,table,tr,td,dt,dd,dl,h1,h2,h3,h4,h5,h6,form,input,select,textarea{margin:0;padding:0; font-family:"微软雅黑"; font-size:12px; font-weight:normal;}
html{ overflow-x:hidden;}

body{color:#030303; margin:0; padding:0; _overflow:hidden; overflow-x:hidden; background:url(../images/index1_02.jpg) repeat-x top;}

input,button,select,textarea{outline:none}

p{ margin:0; padding:0;}

a img{border:none;}

li{list-style-type:none;}

a{text-decoration:none;color:#000;}

input{vertical-align:middle;font-family:"微软雅黑";}

table{border-collapse:collapse;font-family:"微软雅黑";}

a:hover{cursor:pointer; color:#c01c1c;}

a,area { blr:expression(this.onFocus=this.blur()) } /* for IE */

:focus { -moz-outline-style: none; } /* for Firefox */

a { outline:none; } /* for FF Chrome */

.clear{ clear:both;}

.page{ padding-top:30px; text-align:center; clear:both;}

.page a{ display:inline-block; margin:0 5px;}

.page a.cur{ color:#34669b;}



.banner{  width:1600px;margin-left:-800px; left:50%; overflow:hidden; position:relative; height:476px;;}

.banner2{ height:306px;}

.banner .rslides{ position:absolute; top:0; left:0; z-index:99;}


  

.header{width:1128px; height:115px; left:50%; margin-left:-564px; background:url(../images/nav_bg.png) repeat-x; z-index:9999; position:relative;}



.header .logo{ position:absolute; left:7px; top:31px;}
.header .yy{ position:absolute; right:0; top:47px; height:48PX;}
.header .yy_a{ background:url(../images/m_01.jpg) no-repeat; width:144px; height:20px; display:inline-block;}
.header .yy .encn{ display:none; width:112px; text-align:center; height:18px; line-height:18px; border:1px solid #e5e5e5; margin-top:10px;}
.header .yy .encn a{ display:inline-block;}
.header .yy .encn span{ display:inline-block; margin:0 5px; color:#e5e5e5; height:16px;}
.header .cur .yy_a{background:url(../images/m_02.jpg) no-repeat; }
.header .cur .encn{ display:block;}
.search{ position:absolute; right:0px; top:47px; width:142px; height:22px;background:url(../images/scbg.jpg) no-repeat;}
.search .sctxt{ width:115px; padding-left:5px; padding-right:22px; height:22px;border:none; background:none;}
.search .scbt{ position:absolute; right:0px; top:0px; background:url(../images/scbt.jpg) no-repeat; width:20px; height:22px; border:none; cursor:pointer;}



.footer{ width:1128px; position:relative; left:50%; margin-left:-564px; clear:both; display:table; border-top:1px solid #d9d9d9; padding:30px 0;}

.footer .ftleft{ float:left; width:600px; font-family:Arial, Helvetica, sans-serif; display:table;}
.footer .ftright{ float:right; width:215px; position:relative;}
.footer .ftright a{ margin:0 5px;}
.footer .ewm{ position:absolute; right:0; top:-10px; width:128px; height:48px;}
.footer .ewm div{ position:absolute; right:10px; top:-100px; display:none;}
.footer .cur div{ display:block;}

.page{height:27px;padding-top:38px;text-align:center; clear:both; border-top:1px #e5e5e5 solid; padding-left:175px;}
.page .up{border:none;width:14px;text-align:center;height:27PX;font-size:12px;font-family:"微软雅黑";color:#FFF; background:url(../images/upNext_07.jpg) left no-repeat; text-indent:-9999px; overflow:hidden;display:block; float:left;}
.page .up:hover{background:url(../images/upNext2_07.jpg) left no-repeat; border:none;}
.page .next{ border:none;width:14PX;text-align:center;height:27PX;font-size:12px;font-family:"微软雅黑";color:#FFF; background:url(../images/upNext_09.jpg) left no-repeat; text-indent:-9999px; overflow:hidden;display:block; float:left;}
.page .next:hover{ background:url(../images/upNext2_09.jpg) left no-repeat; border:none;}
.page a{color:#626262;height:25px; padding:0 5px;display:block;line-height:27px; float:left; margin:0 3px; border:1px #FFF solid;}
.page a:hover{color:#FFF; background:#af261e; border:1px #9d221b solid;}
.page .hover{ color:#FFF;background:#af261e; border:1px #9d221b solid;}
.page span{float:left; height:27px; line-height:27px; padding:0 10px;}
.page span input{background:#FFF; border:none; text-align:center;}
.page span .go{color:#626262; cursor:pointer;}
.page span .go:hover{color:#F00; cursor:pointer;}


.dis{display:none;}