body{
    font-family: "微软雅黑";
}
.bs-docs-header{
	background: #03365A;
	padding-bottom: 10px;
	font-family: "微软雅黑";
	color: #fff;
}
.navbar{
	margin-bottom: 0px;
}
.navbar-nav a {
	color: #555;
}
.nav_left{
	border-right: 1px solid #ddd;

}
.nav a{
	color: #333;
}
.bs-docs-container{
	margin-top: 30px;
	margin-bottom: 30px;
}
.content-list{
	padding-left: 20px;
}
.media_img{
	max-width: 450px;
            margin-bottom: 20px;
            height: 150px;
            overflow: hidden;
}
.media_img img{
   max-width: 450px;
}
.news_outer{
	margin-bottom: 20px;
}
.news_img{
	width: 450px;
	height: 150px;
	background: #ddd;
	overflow: hidden;
	margin-bottom: 10px;
}
.news_img img{
	width: 450px;
}

.wenjian{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.panlist{
    float: left;
    width: 100%;
}
.upbtn{
    width: 30%;
    float: left;
}
.progress{
    width: 70%;
    float: left;
    margin-top: 5px;
}
.panlist h4{
    line-height: 30px;
    font-size: 16px;
    font-weight: normal;
    border-bottom:1px solid #ddd;
}
.panlist .row{
      width: 100%;
        line-height: 50px;
        border-bottom: 1px solid #ededed;
}
.panlist .row input[type="checkbox"]{
    margin-top: 15px;
}
.filetype{
    float: left;
    width: 32px;
    height: 32px;
    background: url('../images/258.png') no-repeat;
    margin-right: 10px;
}
.is_image {
    background-position: -500px -200px;
}
.is_pdf{
    background-position: -400px 0px;
}
.filename a{
    line-height: 32px;
    margin-top: 8px;
    display: block;
    color: #333;
    text-decoration: none;
}

.wjlist{
    width:100%;
    float: left;
    min-height: 500px;
}
.wjlist ul li{
    width:100px;
    margin: 10px 20px 10px 0px;
    height: 180px;
    overflow: hidden;
    float: left;
    list-style: none;
    text-align: center;
}
.wjlist ul li i{
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 100px;
    background: url(../images/auction.png) no-repeat;
}
.wjlist ul li .btmd{
    display: none;
    border-radius: 5px;
    padding: 3px 10px;
    background: #009688;
    color: #fff;
    cursor: pointer;
}
.wjlist ul li  .ifl{
    background-position: -400px -200px;
}
.wjlist ul li  .ifl_lock{
    background-position: -400px -300px;
}
.wjlist ul li  .iimage{
       background-position: -500px -200px;
}
.wjlist ul li a:hover{
    text-decoration: none;
}

.wjlist ul li  .ipdf{
       background-position: -400px 0;
}
.wjlist ul li  .idoc{
       background-position: 0 0;
}

.files{
    float: left;
    margin-top: 20px;
    width: 100%;
}
.files ul {
    width: 100%;
}
.files ul li{
    width: 100%;
    float: left;
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    line-height: 40px;
}
.files ul li canvas{
    float: left;
    margin-right: 10px;
}
.files ul li span{
       float: left;
    margin-right: 10px;
}

.files ul li button{
       float: left;
    margin-right: 10px;
    float:right;
}

.refash{
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    display: none;
}
.refash span{
    color: red;
}
.reload{
    cursor: pointer;
}
.notes{
    float: left; 
    margin-top: 20px;

}
.notes li{
    line-height: 30px;
}

.wenjiantijiao{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.wenjian h4{
	width: 100%;
	float: left;
	    font-size: 14px;
	    line-height: 1.6;
	    color: #1e3948;

}
.wenjian h4 span{
	font-size: 12px;
	float: right;
	color: #555;
	font-weight: normal;
}
.modal-body .row{
	padding: 20px;
}
.litpic{
max-width: 260px;
}
.simditor-body{
	overflow: hidden;
}
.catedit a span{
    float: right;
    padding-left: 50px;

}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #fff;
}
.admin_info{
    width: 100%;
    float: left;
    text-align: center;

}
.admin_info img{
    width:100px;
}


.mr20{
    margin-right: 20px;
}
.syset{
    color: #666;

}
.catset{
    float: left;
    width: 100%;

}

.syset span{
    color: #333;
}
.syset i{
    color: #666;
   font-style: normal;
}
.bs-docs-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #767676;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.pd10{
    padding: 10px;
}
.pd20{
    padding: 20px;
       padding-top: 0px;
}
.litpicad{
    max-width: 240px;
    width: auto;
}
.adlistimg{
    height: 180px;
    overflow: hidden;
}
.adlistimg img{
    width: 100%;
}
.aleft{
    float: left;
    width: 600px;
}
.subcat{
    width: 930px;
    margin-left: 20px;
}
.bs-docs-sidenav .active{
    background: #eee;
    border-right: 2px solid #4CAE4C;
}
.litbianji{
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}
.showbtn{
    display: none;
}
.list-group-item-heading{
    color: #333;
}
.list-group-item-text{
    color: #666;
}
.sss{
    width: 80px;
    max-height: 100px;
    margin-right: 10px;
}
.toeditor{
    cursor: pointer;
}
.getmsg{
    cursor: pointer;
}
.jmimg{
    margin-right: 10px;
    width: 100px;
    height: 100px;
}
#files_media{
    position: relative;
 /*   margin-left: 35px;*/
}
.getyuyue{
    cursor: pointer;
}
.updone li{
    background: url('../img/updone.png') right  no-repeat;
}
.bs-callout-info{
    margin-bottom: 20px;
}
.bs-callout-info h5{
    text-align: center;
    line-height: 30px;
    color: #999;
    width: 100%;
    float: left;
}
.bs-callout-info h5 span{
    margin-top: 10px;
    color: #A94442;
    cursor: pointer;
}

.media_list img{
        width: 290px;
        height: 180px;
}
.media_list {
    margin-bottom: 20px;
}
.uploadkuang{
    width: 90%;
    border-radius: 10px;
}

.bs-dropzone {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    text-align: center;
    border: 2px dashed #eee;
    border-radius: 4px;
    float: left;
    width: 100%;
}
.bs-dropzone .progress{
    display: none;
}
.bs-dropzone .files ul  li{
    width: 250px;
    overflow: hidden;
    float: left;
    text-align: center;
    margin-right: 20px;
    border-bottom:none;
    position: relative;
    min-height: 340px;
}
.bs-dropzone .files ul  li video{
    height: 250px;
}
.bs-dropzone .files ul  li canvas{

}
.bs-dropzone .files ul li button {
    float: left;
    margin-left: 52px;
}

.bs-dropzone .files ul li span {
    float: left;
    width: 250px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    text-align: center;

}
.dargable{
    cursor: move;
}
.mediaimg{
    width: 250px;
    height: 250px;
    float: left;
    background-size: cover;
}

.addmiaoshu{
    display: none;
}
.miaoshu{
    display: none;
}

.updelete{
    background: url('../img/updelete.png') no-repeat;
    position: absolute;
    top:10px;
    right:10px;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    width: 30px;
    height: 30px;
}
.bs-dropzone .row{
    margin-bottom: 20px;
}
.showzj{
    display: none;
}
.zjwz{
    cursor: pointer;
    font-weight: normal;
    color: #a94442;
}
.weblist{
    position: relative;

}
.weblist .deleteweb{
    position: absolute;
    top:7px;
    right: -10px;
 
}
.weblist .deleteweb img{
     width: 20px;
}
.media_outer h3{
    white-space:nowrap; 
}
.media_outer{
    overflow: hidden;
}

.bigdateshow{
    width: 100%;
    margin-bottom: 20px;
    float: left;
    padding-left: 0px;
}
.bigdateshow li{
    width: 305px;
        float: left;
        padding:5px ;
        border-radius: 5px;
        overflow: hidden;
    margin-right: 10px;
    list-style: none;
    height: 80px;
    font-size: 14px;
    line-height: 30px;
    margin-left: 0px;
}
.bigdateshow li h3{
    line-height: 50px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}
.bigdateshow li h3 span{
    font-size: 14px;
    float: right;
    padding-right: 10px;
}
.red_show{
    color: #fff;
    background: #e64759;
}
.blue_show{
    color: #fff;
    background: #9f86ff;
}
.green_show{
    color: #fff;
    background: #1bc98e;
}
.yellow_show{
      color: #fff;
    background: #e4d836;
}
.shouqimore{
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    z-index: 9000;

}
.wenjian{
    position: relative;
}
.themelist {
    width: 100%;
}
.themelist li{
    width: 280px;
    height:350px;
    list-style: none;
    float: left;
    margin-right: 20px;
    border: 1px solid #ddd ;
    overflow: hidden;

}
.themelist img{
    width: 280px;
    height: 200px;
}
.themelist h3{
    font-size: 20px;
    line-height: 40px;
    margin-top: 10px;
     padding: 0px 10px;
}
.themelist p{
   padding: 0px 10px;
}
.admin_list-group{
    width: 100%;
}
.admin_list-group li{
    width: 280px;
    height:350px;
    list-style: none;
    float: left;
    margin-right: 20px;
    border: 1px solid #ddd ;
    overflow: hidden;
    position: relative;
}
.admin_list-group li img{
    width:200px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 120px;
    margin-top: 20px;
    border: 5px solid #ddd;
}
.admin_list-group li h3{
    text-align: center;
}
.biaoshi{
    position: absolute;
    top: 10px;
    right: 10px;
}
.admin_list-group li p{
    text-align: center;
}
.admin_list-group li p a{
    padding: 5px 40px;
}
.theme_data{
    width:100%;
    margin-left: 0px;
    margin-left: 0px;
    padding-left: 0px;
}
.theme_data li{
    width:200px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    list-style: none;
    float: left;
    margin-right: 20px;
}
.theme_data li a{
    padding: 0px 30px;
}
.next_row{
    display: none;
}
.showqi{
    display: none;
}
.nav{
    line-height: 30px;
}
.nav .innav{
    display: none;
}
.nav .active .innav{
    display: block;
}
.ininnav li{
    list-style-type:circle;
}
.anztitile{
    text-align: center;
    line-height: 50px;
    padding-top: 30px;
}
.installset label{
    color: #333;
    font-family: "Microsoft Yahei";
    font-weight: normal;
}
.list-group-item{
    float: left;
    width: 100%;
}
.biglili li{
    float: none;
}
.catedit{
    width: 100%;
}